.container {
	width: 100%;
	max-width: rem(768);
	padding: 0 rem(19);
	margin: 0 auto;

	@include media(">=lg") {
		max-width: rem(1200);
		padding: 0 rem(100);
	}

	@include media(">=xl") {
		max-width: rem(1400);
		padding: 0 rem(200);
	}
	@include media(">=xxl") {
		max-width: rem(1680);
		padding: 0 rem(240);
	}
	@include media(">=xxxl") {
		max-width: rem(1800);
	}
}
