/*
----------------------------------------
FONTS
*/
//families
$font-base: "PT Serif", serif;
$font-poppins: "Poppins", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

//weights
$font-weight-base: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

//base
$line-height-base: rem(48);
